Source: rubinius
Section: ruby
Priority: optional
Maintainer: Antonio Terceiro <terceiro@debian.org>
DM-Upload-Allowed: yes
Build-Depends: bison,
               debhelper (>= 7.0.50~),
               libdouble-conversion-dev,
               libffi-dev,
               libssl-dev,
               libyaml-dev,
               llvm-3.3-dev,
               rake,
               ruby2.1,
               ruby2.1-dev,
               zlib1g-dev,
               ruby-daedalus-core,
               ruby-rubinius-bridge,
               ruby-rubinius-toolset,
               ruby-rubinius-processor,
               ruby-rubinius-compiler,
               ruby-rubinius-ast
Standards-Version: 3.9.2
Vcs-Git: git://git.debian.org/collab-maint/rubinius.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/rubinius.git;a=summary
Homepage: http://rubini.us/

Package: rubinius
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: ruby-interpreter
Description: implementation of the Ruby programming language
 Rubinius includes a bytecode virtual machine, parser, bytecode compiler,
 garbage collector, JIT native machine code compiler, and Ruby core and
 standard libraries.

Package: rubinius-doc
Section: doc
Architecture: all
Depends: rubinius, ${misc:Depends}
Description: Rubinius documentation
 This package contains the Rubinius documentation. Once this package in
 installed, run `rbx docs` to have a browser window open at the index of the
 documentation.
 .
 The documentation contained in this package is more focused in the development
 of Rubinius itself, so it will not be so usefull for Rubinius users.
