#!/usr/bin/make -f

DESTDIR		= $(CURDIR)/debian/rubinius
BIN_DIR		= /usr/bin
MAN_DIR		= /usr/share/man/man1
INC_DIR		= /usr/include/rubinius
LIB_DIR		= /usr/lib
GEM_DIR		= /var/lib/gems/rubinius
LLVM_CONFIG	= /usr/bin/llvm-config-3.3

CONFIGURE       = \
  ./configure \
    --llvm-config=/usr/bin/llvm-config-3.3 \
    --libdir=/usr/lib \
    --bindir=/usr/bin \
    --mandir=/usr/share/man/man1 \
    --includedir=/usr/include/rubinius \
    --vendordir=/usr/lib/ruby/vendor_ruby \
    --sitedir=/usr/local/lib/site_ruby \
    --gemsdir=/var/lib/gems/rubinius \
    --appdir=/usr/lib/rubinius \
    --enable-version=19
#    --disable-extra-programs
#   --disable-preinstalled-gems \

%:
	dh $@

override_dh_auto_configure:
	$(CONFIGURE)

override_dh_auto_build:
	rake build

override_dh_auto_install:
	DESTDIR=$(DESTDIR) rake install

	# install manpage
	mkdir -p $(DESTDIR)/usr/share/man/man1
	pod2man --center "" --release "" --name Rubinius --utf8 debian/rubinius.1.pod $(DESTDIR)/usr/share/man/man1/rbx.1

	# install docs
	mkdir -p debian/rubinius-doc/usr/share/doc/rubinius
	cp -dpR web debian/rubinius-doc/usr/share/doc/rubinius/html

override_dh_auto_clean: override_dh_auto_configure
	dh_auto_clean
	rake distclean
	$(RM) vendor/*.data
	for dir in vendor/* lib/tooling/profiler; do (cd $$dir ; make clean || true; make distclean || true); done

override_dh_clean:
	dh_clean --exclude=vendor/libgdtoa/makefile.orig
	$(RM) config.rb

# vim: ts=8 sw=8 noexpandtab
